<div>
    <app-logo></app-logo>
    <app-redes></app-redes>
    <app-banner></app-banner>
</div>

<!-- <nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="logoargprograma" >
     </a>
      <ul class="list-group list-group-horizontal">  
        <li class="list-group-item"><i class="fa-brands fa-instagram fa-2xl"></i></li>
        <li class="list-group-item"><i class="fa-brands fa-linkedin fa-2xl"></i> </li>     
        <li class="list-group-item"><i class="fa-brands fa-github fa-2xl"></i> </li>
        Button trigger modal -->
        <!-- <li class="list-group-item"><i class="fa-solid fa-lock fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></li>    -->
      <!-- </ul> -->
       <!-- Modal -->
      <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Aquí puedes iniciar sesión para editar este portfolio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">Log in</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
    </nav> --> 