<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Fabiana Vazquez Portfolio</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <link rel="stylesheet" type="text/css" href="src/assets/styles.css"> </link>

  </head>

  <body>
    <!-- componente de angular -->
    <app-root></app-root>

    <nav class="navbar navbar-expand-lg bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/img/logo.png" alt="logoargprograma" >
     </a>
      <ul class="list-group list-group-horizontal">  
        <li class="list-group-item"><i class="fa-brands fa-instagram fa-2xl"></i></li>
        <li class="list-group-item"><i class="fa-brands fa-linkedin fa-2xl"></i> </li>     
        <li class="list-group-item"><i class="fa-brands fa-github fa-2xl"></i> </li>
        <!-- Button trigger modal -->
        <li class="list-group-item"><i class="fa-solid fa-lock fa-xl" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i></li>   
      </ul>
       <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Aquí puedes iniciar sesión para editar este portfolio</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
              </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-primary">Log in</button>
            </div>
          </div>
        </div>
      </div>  
    </div>
    </nav>

    <section id="about" class="about"> 
    <div class="container text-center mt-10">
      <div class="row">
        <div class="col-3">
          <img src="/assets/img/Diseño sin título.png" class="rounded-circle w-75" title="Perfil">
        </div>
        <div class="col-6"><h5>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam minus ea numquam possimus temporibus! Quia, placeat! Reiciendis, enim quidem pariatur, dolorem odit fugit molestias accusantium perferendis dolorum commodi, optio consequuntur.
          </h5></div>
        <div class="col-3"></div>
      </div>
    </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script> 

    <!-- créditos por el favicon -->
    <a href="https://www.flaticon.es/iconos-gratis/portafolio" title="portafolio iconos">Portafolio iconos creados por Eucalyp - Flaticon
    </a>
  </body>
</html>

<router-outlet></router-outlet>
